.section {
    padding: 3rem 0.8rem;
}

.about_presentation {
    background-image: url('../img/welcome_header.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    height: 400px;
}

.about_title {
    font-weight: 300;
    font-size: 70px;
    line-height: 48px;
    text-align: center;
    color: #FFFFFF;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 220%);
    position: absolute;
}

.our_mission {
    top: 50%;
    left: 50%;
    transform: translate(-50%, 156%);
    position: absolute;
    background: #FFFFFF;
    box-shadow: 0px -30px 30px rgba(24, 33, 44, 0.5);
    border-radius: 10px;
    text-align: center;
    padding: 2rem 0.8rem 0 0.8rem;
    z-index: 9999;
    width: 77%;

    h2 {
        font-weight: 300;
        margin-bottom: 1rem;
        font-size: 42px;
        line-height: 48px;
        line-height: 114%;
        color: #53A1D8;
    }

    .text {
        margin: 0;
        font-size: 20px;
        line-height: 30px;
        color: #3C4147;
    }

    h4 {
        margin: 0;
        font-weight: 600;
        font-size: 18px;
        line-height: 50px;
        text-align: center;
        color: #53A1D8;
    }
}

.about_vene {
    .img_wrap {
        font-size: 0
    }
    .logo {
        width: 60px;
        height: auto;
    }

    .frontdesk {
        width: 55%;
        margin-right: 2%;
        border-radius: 8px;
    }

    .fruits {
        width: 43%;
        vertical-align: top;
        border-radius: 8px;
    }

    .workspace {
        width: 87%;
        padding-right: 0;
        padding-bottom: 2%;
        margin-left: auto;
        border-radius: 8px;
    }
}

.about_vene_content {
    padding-left: 4%;

    h3 {
        margin-bottom: 1.6rem;
    }

    .about_vene_text {
        max-width: 87%;
        font-size: 20px;
        line-height: 30px;
    }
}

.about_details_text {
    width: 90%;
}

.vene_numbers, .team-carousel-section, .findout_section {
    padding: 2rem 0;
    background: rgba(85, 155, 208, 0.06);
    text-align: center;

    .b-none {
        border: none !important;
    }

    h3 {
        font-weight: 300;
        font-size: 44px;
        line-height: 48px;
        color: #18212C;
        margin-bottom: 1.6rem;
    }
}

.numbers_row {
    display: flex;
    padding: 2rem 0;

    .flex-column {
        border-right: 2px dashed #53A1D8;
    }
    small {
        padding: 0.8rem 0;
    }

    p {
        font-weight: 500;
        font-size: 18px;
        line-height: 48px;
        color: #18212C;
    }

    .numbers {
        font-weight: 600;
        font-weight: 600;
        font-size: 4rem;
        line-height: 48px;
        color: #53A1D8;
    }
}

.details_about_section {
   h3 {
         margin-bottom: 1.6rem;
   }

    .img_col_left {
        padding-right: 4%;
    }

    .row {
        padding: 1rem 0;
    }

    p {
        font-size: 20px;
        line-height: 30px;
        color: #3C4147;
    }

    .images-wrapper {
      height: 400px;
    }

    .img1-container {
      display: flex;
      margin-right: 10px;
    }

    .flex-container {
      display: flex;
      align-items: flex-end;
    }

    .img_wrap {
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .img1 {
        border-radius: 8px;
        object-fit: cover;
        max-width: 100%;
    }

    .img2, .img3 {
         border-radius: 8px;
         object-position:left;
         min-width:81%;
         object-fit:cover;
         max-width:87%;
         height:100%;
    }

    .img2 {
          margin-bottom: 10px;
    }

    .img4 {
        margin-right: 2%;
        margin-left: 3%;
    }

    .img4, .img5 {
        width: 45%;
        border-radius: 8px;
    }

    .sumit_text {
        align-items: center;

        p {
            width: 80%;
        }
    }

    .safari {
        align-items: flex-start;
    }
}

// .instagram_feed {
// text-align: center;
// padding: 2rem 0;

// .instagram_title {
// font-weight: 300;
// font-size: 20px;
// line-height: 48px;
// color: #53A1D8;
// }

// h3 {
// font-weight: 300;
// font-size: 44px;
// line-height: 48px;
// text-align: center;
// color: #18212C;
// }

// .insta_btn {
// width: 280px;
// height: 62.63px;
// border: 1px solid #53A1D8;
// box-sizing: border-box;
// border-radius: 6px;
// font-weight: 600;
// font-size: 22px;
// line-height: 33px;
// text-align: center;
// color: #53A1D8;
// background-color: transparent;
// }
// }
.team_carousel {
    position: relative;

    .slick-track {
        padding: 2rem 0;
    }

    .slick-prev, .slick-next {
        height: 40px;
        width: 40px;
        border: none;
        background-color: transparent;
        color: transparent;
        position: absolute;
        outline: none;
        z-index: 99999999;
    }

    .slick-prev {
        background: url('../img/arrow_left.png') no-repeat;
        background-size: contain;
        top: 50%;
        left: -3%;
        transform: translate(-50%, -50%);
    }

    .slick-next {
        background: url('../img/arrow_right.png') no-repeat;
        background-size: contain;
        top: 50%;
        left: 103%;
        transform: translate(-50%, -50%);
    }
}

.about_team_box {
    background: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(24, 33, 44, 0.15);
    border-radius: 8px;
    margin: 0 1rem;

    .linkedin {
        width: 17.37px;
        height: 16px;
        color: #3C4147;
    }

    .linkedin {
        margin-top: 0.9rem;
    }

    .mail {
        width: 21.87px;
    }

    .carousel_img_fix {
        border-radius: 50%;
        height: 120px;
        width: 120px;
    }

    .person {
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 32px;
        text-align: center;
        color: #53A1D8;
    }
}

.sec_subtitle, .details_about_section .sec_subtitle {
    font-weight: 300;
    font-size: 20px;
    line-height: 48px;
    color: #53a1d8;
    padding-top: 1rem;
}

.about_cta {
    width: 200px;
    height: 62.63px;
    background: #53A1D8;
    border-radius: 6px;
    font-weight: 600;
    font-size: 22px;
    line-height: 45px;
    color: #FFFFFF;

    &:hover {
        color: white;
        text-decoration: none;
    }
}

.logo {
    height: 60px;
    width: 60px;
}

.vene_awards {
    padding 2rem 0;
}

.awards-title {
    display: flex;
    justify-content: center;

    .vene_award {
      align-self: center;
      height: 40px;
      margin-top: -8px;
      width: 40px;
    }
}

.awards-container {
    display: flex;
    justify-content: space-around;
    @media (max-width: 475px) {
      flex-wrap: wrap;
    }

    .award-box {
      margin: 15px 0;

      img {
          max-width: 200px;
          width: 100%;
      }
    }

}


