/* footer
______________________________________________ */
#footer {
    .fit_content {
        width: 100%;
    }

    p, h2, button, a, li, ul {
        overflow: hidden;
    }

    background-color: #18212C;

    ul {
        padding-left: 10px;
    }

    .subscribe_btn {
        margin-left: 1rem;
    }

    .vene_logos_footer img {
        height: 80px;
        width: 200px;
    }

    .first, .second, .third {
        background-repeat: no-repeat;
        background-size: 110%;
        background-position: top;
        height: 580px;
    }

    .footer-bottom {
        flex-wrap: wrap-reverse;
        text-align: center;
    }

    .footer-bottom p, .footer-bottom a {
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
        color: rgba(255, 255, 255, 0.7);
    }

    .footer-item .logos_alt {
        margin-top: 0.5rem;
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
        color: rgba(255, 255, 255, 0.7);
    }

    .footer-item {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 48px;
        color: #FFFFFF;

      &:hover {
        color: #53a1d8;
        text-decoration: none;
      }
    }

    .footer-item:focus {
        color: #53A1D8;
    }

    .footer-ul-title {
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 36px;
        color: rgba(255, 255, 255, 0.5);
    }

    .footer_text {
        color: #fff;
        text-align: center;
        margin-top: 2rem;
        width: 60%;
        opacity: 0.8;
        font-size: 1.2rem;
    }

    .footer_header {
        padding: 2rem 0;
    }

    .footer_form {
        height: 50px;
    }

    .form-control {
        background: rgba(255, 255, 255, 0.1);
        border: 1px solid rgba(255, 255, 255, 0.3);
        box-sizing: border-box;
        border-radius: 6px;
        margin-top: 0.4rem;
    }

    #mce-EMAIL {
        min-width: 250px;
        margin-right: 0;
        color: white;
    }
}
