@media (min-width: 1199.99px) {
  .presentation_img {
    background-size: 100%;
  }

  .carousel_testimonials .slick-dots {
    position: absolute;
    top: 123%;
    left: -12%;
  }

  .about_title {
    transform: translate(-50%, 300%);
  }

  .copyright {
    text-align: left;
  }

  .about_vene {
    padding-top: 15rem;
  }
}

@media (max-width: 1199.98px) {
  .presentation_img {
    background-position: 0 400px;
  }

  .about_vene {
    padding-top: 14rem;

    .about_vene_content {
      .about_vene_text {
        max-width: 98% !important;
      }
    }
  }
}

@media (max-width: 991.98px) {
  .toggler_monthly {
    margin-left: 8rem;
  }

  .about_title {
    transform: translate(-50%, 220%);
  }

  .about_vene {
    padding-top: 12rem;
  }

  .carousel_testimonials .slick-dots {
    position: absolute;
    top: 105%;
  }

  .presentation_img {
    background-position: 0 430px;
  }

  .copyright {
    text-align: left;
  }

  .testimonial_text {
    margin-left: 4rem;
    font-size: 14px;
  }

  .carousel_content {
    top: 13%;
  }

  .carousel_content blockquote {
    font-size: 14px !important;
  }

  .custom_request {
    margin-left: calc(50% - 180px) !important;
  }

  .accounting_row > .container > .row, .url_checker_row > .container > .row {
    flex-wrap: wrap-reverse;
  }

  .card-deck .card {
    -ms-flex: 2 1 30%;
    flex: 2 1 30%;
    margin-bottom: 15px;
  }

  .features_img {
    height: 560px;
    margin: 1rem 0;
  }
}

@media (max-width: 768.98px) {
  .save-up-to-desktop {
    display: none;
  }

  .form-container {
    margin: 0 auto;

    .form-header {
      height: 180px;
    }

    .form-row {
      margin: 0;
    }

    .dash-instance-form {
      padding: 2rem 1rem;
      .form-group {
            input {
                max-width: 93%;
            }
        }
    }
  }

  .pricing_badge_mobile {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../svg/mostpop_banner.svg');
    background-repeat: no-repeat;
    height: 26px;
    width: 100%;
  }

  #filt-monthly {
    margin-left: 10%;
  }

  .annualy-wrapper {
    margin-left: 10px;

    .toggler {
      margin-bottom: 0;
      margin-left: 0;
    }
  }

  .save-up-to-mobile {
    display: block;
    text-align: center;
    font-weight: 600;
    color: #ddd;
    transition: 0.2s;
  }

  .save-up-to-mobile--is-active {
    color: #53A1D8;
  }

  .platform_screen {
    width: 100%;
  }

  .our_mission {
    width: 98% !important;
  }

  #filt-monthly {
    padding-left: 0;
  }

  .team_carousel_padding_mobile {
    padding-right: 0;
    padding-left: 0;
  }

  .about_vene {
    .about_vene_content {
      margin-top: 2rem;
      text-align: center;
    }

    .about_vene_text {
      text-align: left;
      font-size: 17px;
      line-height: 24px;
      color: #3C4147;
      max-width: 100% !important;
    }

    .about_vene_imgs {
      align-items: center;

      .workspace {
        margin: 0 auto;
        height: auto;
      }
    }
  }

  .about_title {
    font-size: 44px;
    line-height: 38px;
    transform: translate(-50%, 320%);
  }

  .mobile-home {
    display: none;
  }

  .navbar-expand-md > .container {
    max-width: 100%;
  }

  .navbar-collapse {
    position: fixed;
    top: 0;
    right: -210px;
    background: #fff;
    z-index: 999;
    height: 100vh;
    height: -webkit-fill-available;
    width: 200px;
    padding: 1rem;
    transition: right 0.3s ease-in-out;
    box-shadow: -8px 0 4px rgba(24, 33, 44, 0.15);

    &.show {
      right: 0;
    }

    .navbar-toggler {
      position: absolute;
      top: 0;
      right: 0;
      border: none;
      padding: 20px;
      font-weight: 300;
      font-size: 50px;
      line-height: 20px;
      color: #53a1d8;
      outline: none;
    }

    .navbar-nav {
      height: 100%;
      padding-top: 120px;
      margin: 0;

      .nav-link {
        padding: 0.8rem 0.5rem;
      }

      .get-started {
        margin: auto 0 100px;
        text-align: center;

        .btn_nav {
          font-size: 18px;
          padding: 0.4rem 1.5rem;
        }
      }
    }
  }

  .presentation_img {
    background-position: 0 500px;
  }

  #mc_embed_signup form, .newsletter-form-wrap {
    flex-direction: column !important;
    margin-bottom: 3rem;
  }

  .email.form-control, #footer .subscribe_btn {
    margin: 0.5rem 0 !important;
  }

  #Benefits {
    overflow-x: hidden;
  }

  .legal {
    margin: 0.5rem auto !important;
  }

  .copyright {
    text-align: center !important;
  }

  .logos_testimonial {
    margin-top: 2.6rem !important;
  }

  .mobile_nav_ul_main {
    width: 100% !important;
    margin: 0 !important;
  }

  .details_btn_group {
    display: none !important;
  }

  .carousel_content {
    top: 12% !important;
  }

  .pricing_card_mobile {
    background: #fff;
    padding: 1rem 0;
    margin: 1rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    border-radius: 8px;

    h5 {
      text-align: center;
    }

    .price_list_1 li {
      text-align: center;
    }

    .price_list_1 {
      padding-left: 0;
    }

    .price_list_2 li {
      margin-bottom: 0.5rem;
    }

    .price_list_2 {
      padding-left: 0;
      display: flex;
      flex-flow: column wrap;
      justify-content: space-around;
      font-size: 16px;
    }
  }

  .carousel_testimonials {
    width: 350px;
    height: 560px;
    background: #FFFFFF;
    border-radius: 8px;
    margin: 0 auto;
  }

  .carousel_testimonials .slick-dots {
    position: absolute;
    top: 84%;
  }

  .carousel_pricing {
    width: 320px;
    height: 640px;
    padding: 1rem;
    border-radius: 8px;
    margin: 0 auto;
  }

  .details_dropdown {
    display: block !important;
  }

  .carousel_pricing_mobile {
    display: inline-block !important;
  }

  .pricing_desktop {
    display: none !important;
  }

  .mobile_pricing_features {
  }

  .mobile_pricing_features li {
    align-self: flex-start;
  }

  .testimonial_text {
    margin-left: 1rem !important;
  }

  .testimonial_mobile_row {
    flex-wrap: wrap-reverse;
  }

  .features_img {
    height: 360px;
    margin: 0;
    background-size: 92%;
  }

  .about_details_text {
    text-align: left;
    width: 100%;
  }

  .details_about_section {
    text-align: center;

    .img_col_left {
      padding-right: 4%;
    }

    .row:last-child {
      padding: 1rem 0;
    }

    p {
      font-style: normal;
      font-weight: normal;
      font-size: 17px !important;
      line-height: 24px !important;
      color: #3C4147;
    }

    h3 {
      margin-bottom: 1.6rem;
    }

    .img4 {
      margin-right: 4%;
      margin-left: 3%;
    }

    .img5 {
      padding-right: 0;
    }

    .sumit_text {
      p {
        width: 100%;
      }
    }
  }

  .saas_comparison {
    padding-top: 0;
    padding-bottom: 2rem;

    .row {
      flex-wrap: wrap-reverse;
    }
  }

  .saas_container {
    padding-top: 3rem;
  }

  .saas_title {
    margin-bottom: 1rem;
  }

  .icon_saas {
    margin: 0 auto;
  }

  .saas_subtitle {
    text-align: center;
  }

  .table_section {
    padding: 2rem 0;
  }

  .table_text {
    display: none;
  }

  .table_header_wrap {
    padding: 2rem 0;
  }

  .table_col {
    padding: 0;
  }

  .table_wrapper {
    width: 100%;
    margin: 0;
    border-radius: 0;
  }

  .comparison_tables {
    border: none;
  }

  .comparison_tables tr:first-child th:first-child, .comparison_tables tr:first-child th:last-child, .comparison_tables tr:last-child td:first-child, .comparison_tables tr:last-child td:last-child {
    border-radius: 0;
  }

  .comparison_header {
    height: auto;
    padding-bottom: 1rem;
    min-height: unset;
  }

  .presentation_text_mobile {
    display: block;
    text-align: center;
    width: 100%;
    padding: 1rem 1rem 0 1rem;
  }

  .dropdown_mobile {
    display: block;
    width: 100%;

    .platforms_dropdown {
      width: 280px;
      height: 50px;
      box-sizing: border-box;
      border-radius: 6px;
      font-weight: 600;
      font-size: 20px;
      line-height: 30px;
      color: #18212C;
      padding: 0 1rem;
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      border: 2px solid #53A1D8;
      background: transparent url('../svg/DROWNDOWN_icon.svg') no-repeat;
      background-position: right 10px top 50%;

      option {
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        color: #18212C;
      }
    }
  }

  .table_venedash {
    background-size: 70px;
  }

  .check_boxes {
    display: none !important;
  }

  .presentation_text_comparison, .platform_screen {
    display: none;
  }

  .free_trial_row {
    .heading {
      margin-bottom: 0 !important;
    }

    h2 {
      margin-bottom: 0;
    }

    .big_cta {
      margin-bottom: 1rem !important;
    }
  }
}

@media (max-width: 575.98px) {
  .reverse_mobile {
    display: flex;
    flex-direction: column-reverse;
  }

  .saas_title {
    font-size: 28px;
    line-height: 38px;
  }

  .saas_text, .table_text {
    font-size: 17px;
    line-height: 24px;
  }

  .our_mission {
    transform: translate(-50%, 55%);
  }

  .saas_container {
    margin: 0 1rem !important;
  }

  .title {
    padding-bottom: 2rem;
  }

  .title, .table_title {
    font-size: 32px;
    line-height: 38px;
  }

  .about_title {
    font-size: 32px;
    line-height: 38px;
    transform: translate(-50%, 150%);
  }

  .about_vene {
    margin-top: 4.5rem;

    .fruits {
      width: 41%;
    }
  }

  .about_presentation {
    height: 200px;
    padding-top: 2rem;
    background-position: 0 40px;
  }

  .vene_numbers {
    .sec_title, .numbers_row {
      padding-top: 0;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .flex-column {
        border-bottom: 2px dashed #53A1D8;
        border-right: none !important;
        margin-bottom: 1rem;
        padding: 2rem 0 !important;
        width: 240px;
      }

      .col_right {
        padding-right: none !important;
      }

      .col_left {
        padding-left: none !important;
      }

      small {
        padding: 0.5rem 0;
        font-size: 18px;
      }

      p {
        font-weight: 500;
        font-size: 18px !important;
        line-height: 48px;
        color: #18212C;
      }

      .numbers {
        font-weight: 600;
        font-size: 3rem !important;
        line-height: 48px;
        color: #53A1D8;
        padding: 1rem 0;
      }
    }
  }

  .your_choice, .table_subtitle {
    font-weight: 300;
    font-size: 18px;
    line-height: 50px;
  }

  .presentation_text_comparison_mobile {
    width: 94%;
    margin: 0 auto;
    padding: 0 0 1rem 0;
  }

  .presentation_text_comparison {
    font-size: 17px;
    line-height: 24px;
  }

  .testimonials_icon {
    margin: 0 auto;
  }

  .carousel_testimonials {
    width: 320px;
    height: 530px;
  }

  .carousel_testimonials .slick-dots {
    top: 90%;
  }

  .benefits_mobile_row {
    display: inline-block;
  }

  .mobile_none {
    display: none;
  }

  .logos_testimonial {
    padding-top: 0;
    margin-top: 0;
  }

  .logos_testimonial img {
    height: auto;
    width: 100px !important;
    margin: 0 auto;
    margin-bottom: 0.6rem;
  }

  .first, .second, .third {
    background-repeat: no-repeat;
    background-size: 110%;
    background-position: top;
  }

  .vene_logos_footer img {
    height: 60px !important;
    width: 140px !important;
  }

  .contact_desktop {
    display: none !important;
  }

  .contact_mobile {
    display: block;
  }

  .contact_num {
    color: #53a1d8;
  }

  .testimonial_text .section_subtitle {
    text-align: center;
  }

  .form-control {
    background: rgba(24, 33, 44, 0.05);
    border-radius: 4px;
  }

  .contact_text {
    padding: 0 2rem;
  }

  p {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
  }

  .carousel_content {
    top: 11% !important;

    blockquote {
      font-size: 13px !important;
    }
  }

  .section_title {
    font-weight: 300;
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 2rem;
  }

  .presentation_title {
    margin-bottom: 0 !important;
    padding: 0 1rem;
  }

  .presentation_text {
    width: 100% !important;
    padding: 1.4rem;
  }

  .features_heading {
    padding-top: 1rem;
  }

  .features_row {
    padding: 0.5rem 0;
  }

  .features_description {
    justify-content: center !important;
    align-items: center !important;
  }

  .accounting_row, .url_checker_row {
    flex-wrap: wrap-reverse !important;
  }

  .benefits_desktop_row {
    display: none;
  }

  .benefits_mobile_row {
    display: block !important;
  }

  .testimonial_mobile_row {
    flex-wrap: wrap-reverse !important;
  }

  .dropdown-item {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
  }

  .legal {
    margin: 0 auto;
    margin-bottom: 0.5rem;
  }

  .footer_text {
    width: 280px !important;
  }

  .subscribe_btn {
    width: 140px;
  }

  .pricing_btn_wrap {
    margin: 0 !important;
    width: 100% !important;
  }

  .mobile_list {
    margin: 0 0 0 6% !important;
    padding: 0 !important;
    flex-wrap: wrap;
    flex-direction: column !important;
    align-items: start;
    justify-content: start;
  }

  .section_title {
    font-weight: 300;
    font-size: 28px;
    line-height: 38px;
    text-align: center;
  }

  .navbar .container {
    padding: 0 0.5rem !important;
  }

  #contact {
    overflow-x: hidden;
  }

  .card-columns {
    column-count: 1;
  }

  .carousel_benefits {
    padding-top: 2rem 1rem;
    height: 380px;
    width: 320px;
  }

  #referral-page {
    .steps {
      width: 90%;
    }

    .form-container .custom_btn {
      display: block;
      float: none;
      margin: 3rem auto 0;
    }
  }
}

.sumit_text {
  justify-content: center;
}
