/* helpers
______________________________________________ */

.none
    display none

.vh-100
    min-height 100vh

.opacity 
    display none
    opacity 0
    -webkit-transition all .3s
    -moz-transition all .3s
    transition all .3s

.z-depth
    -webkit-box-shadow 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3)
    box-shadow 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3)