// ==================================================
// Variables
//
// 1. Colors
// 2. Spaces
// 3. Media Queries
// 4. Typography
// 5. zIndex
// ==================================================

// --------------------------------------------------
// 1. Colors
// --------------------------------------------------

//
// Grays
// --------------------------------------------------

$gray-darker  = #111
$gray-dark    = #333
$gray         = #666
$gray-light   = #aaa
$gray-lighter = #ddd
$gray-white   = #f0f0f0

//
// Pallets
// --------------------------------------------------

$color_0 = #000
$color_1 = #fff
$color_2 = #001a3f
$color_3 = #0066ff
$color_4 = #00ccff
$color_5 = #003399
$color_6 = #f9f9f9
$color_7 = red

//
// Brands
// --------------------------------------------------

// --------------------------------------------------
// 2. Spaces
// --------------------------------------------------

$space         = 2rem                 // Regular space margin
$space-xs      = ($space / 4)         // Extra small space margin
$space-sm      = ($space / 2)         // Small space margin
$space-md      = ($space + $space-sm) // Medium space margin
$space-lg      = ($space * 2)         // Large space margin
$space-xlg     = ($space * 4)         // Extra Large space margin

$space-gutter  = $space


// --------------------------------------------------
// 3. Media Queries
// --------------------------------------------------

$screen-xs   = 576px  // Extra small screen / phone
$screen-sm   = 576px  // Small screen / tablet
$screen-md   = 768px  // Medium screen / desktop
$screen-lg   = 992px  // Large screen / wide desktop
$screen-xlg  = 1200px // Extra Large screen / wide desktop

// --------------------------------------------------
// 4. Typography
// --------------------------------------------------

$text-size = 1rem

// --------------------------------------------------
// 5. zIndex
// --------------------------------------------------

$zindex-bg       = -1
$zindex-default  = 1 
$zindex-loading  = 10